@import url("../styles/reset.css");
@import url("../components/header.css");
@import url("../components/footer.css");
@import url("../components/social-media.css");
@import url("../components/button.css");
@import url("../fonts/index.css");

.contact {
  margin-top: 60px;
}
.contact .contact-container {
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.contact .contact-container form .row {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  margin-top: 15px;
}
.contact .contact-container form input {
  width: 90%;
  border: 1px solid #cecece;
}
.contact .contact-container form .row .row-container {
  width: 100%;
}
.contact .contact-container form .row .row-container p {
  color: red;
  font-size: 12px;
  margin-top: 2px;
  margin-left: 2px;
  font-weight: 100;
}
.contact .contact-container h2 {
  font-family: Montserrat;
  font-size: 25px;
  font-weight: 900;
  letter-spacing: 0em;
  text-align: left;
}

.contact .contact-container form textarea {
  width: 95%;
  height: 65px;
  padding: 13px 20px;
  outline: none;
  border: 1px solid #cecece;
}

.contact .contact-container form .button {
  text-align: center;
  padding-left: 0;
  width: 35%;
}
.contact .contact-container form .send {
  text-align: center;
  margin-top: 50px;
}

.error-container {
  display: flex;
  gap: 41.3%;
}
.error-container p {
  color: red;
}
/* //media query */
