@import url("../styles/reset.css");
@import url("../components/header.css");
@import url("../components/footer.css");
@import url("../components/social-media.css");
@import url("../components/button.css");
body {
  height: 120vh;
}
.shadow {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

/* //home */
main .home .home-container {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  height: 470px;
  align-items: center;
}
main .home .home-container .home-right img {
  height: 348.0000915527344px;
}
main .home .home-container .home-left h2 {
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 800;
  line-height: 71px;
  letter-spacing: 0em;
  color: #241400;
}
main .home .home-container .home-left p {
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 500;
  line-height: 26px;
  width: 370px;
  color: #241400;
  margin-bottom: 15px;
}
